.env
.env.development
.env.production
!.env.example
!.env.development.example
!.env.production.example
.venv/
venv
venv/
data/processed/midagri/*parquet
data/processed/midagri/*csv
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.DS_Store
